name: Go

on:
  push:
    branches: [ 'master', 'ci-docker-test', 'feature_*', 'issue_*' ]
  pull_request:
    branches: [ 'master', 'ci-docker-test' ]

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.18

      - name: Build
        run: go build -v ./

  dockertest:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Initialise the taiga-docker submodule and switch to the stable branch
        run: git submodule update --init && git submodule foreach 'git checkout stable'
      - name: Build the stack
        run: cd tests && docker-compose -f ./taiga-docker/docker-compose.yml -f docker-compose-ci-config.yml up -d
      - name: Wait for Taiga migrations to apply, then Load initial test data
        run: cd tests && ./load_initial_test_data.bash
      - name: Execute tests
        run: go test ./tests
