name: Go

on:
  push:
    branches: [ 'master', 'ci-docker-test' ]
  pull_request:
    branches: [ 'master', 'ci-docker-test' ]

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.15

      - name: Build
        run: go build -v ./...

  dockertest:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Initialise the taiga-docker submodule and switch to the stable branch
        run: git submodule update --init && git submodule foreach 'git checkout stable'
      - name: Build the stack
        run: cd tests/taiga-docker && docker-compose up -d
      - name: Wait for Taiga migrations to apply, then Load initial test data
        run: cd tests && ./load_initial_test_data.bash
